*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-image: url(./assets/images/login.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 529px;
  height: 668px;
  color: white;
  background-color: #181a1cb3;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 40px;
}

.logo {
  display: flex;
  justify-content: center;
}

.title,
.login {
  text-align: center;
}

.userName,
.password {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.newAccount {
  display: flex;
  justify-content: space-between;
  font-weight: 10;
  font-size: 0.8em;
}

input,
button {
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.207);
  padding: 0.8em;
  background-color: inherit;
  color: white;
  height: 3em;
  font-weight: 900;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#log {
  background-color: rgb(106, 104, 104);
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

span {
  font-size: 0.8em;
}

a {
  font-weight: 900;
  text-decoration: none;
  color: white;
}

@media (max-width: 850px), (max-height: 900px) {
  .container {
    width: 446px;
    height: 522px;
    border-radius: 8px;
    padding: 24px;
    font-size: 0.7em;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  #logo {
    width: 144px;
    height: 52px;
  }
  input,
  button {
    color: white;
    height: 3em;
    font-size: 1em;
  }
  img {
    width: 1.5em;
  }
 
  span, .newAccount {
    font-size: 0.5em;
  }

}

@media (max-width: 550px), (max-height: 670px) {
  .container {
    width: 306px;
    height: 402px;
    border-radius: 8px;
    padding: 24px;
    font-size: 0.5em;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  #logo {
    width: 104px;
    height: 38px;
  }
  input,
  button {
    color: white;
    height: 3em;
    font-size: 1em;
  }
  img {
    width: 1.5em;
  }
 
  span, .newAccount {
    font-size: 0.5em;
  }

}

